/elpa/
/auto-save-list/
/projectile-bookmarks.eld
/transient/
/OrgFiles/Emacs.org~
/bookmarks
/#init.el#
/.gitignore~
/OrgFiles/Archive.org~
/OrgFiles/Habits.org~
/OrgFiles/Journal.org~
/bookmarks~
/init.el~
/nohup.out
/org-persist/
/src/
/eshell/
/init-new.el
/init-new.el~
/init.el.old01
/init.el.old02
/test
/.org-id-locations
/ts1/.log/*.log
/OrgFiles/.log/
/OrgFiles/app.js~
/OrgFiles/app.ts~
