[submodule "impatient-mode"]
	path = impatient-mode
	url = https://github.com/skeeto/impatient-mode.git
[submodule "Projects/JavaScript/The_JavaScript_Bible_-_Bootcamp_2022/JavaScript-Bible-Basics"]
	path = Projects/JavaScript/The_JavaScript_Bible_-_Bootcamp_2022/JavaScript-Bible-Basics
	url = https://github.com/bstashchuk/JavaScript-Bible-Basics.git
