.DS_store
*.log
*.*~
/elpa/
/auto-save-list/
/projectile-bookmarks.eld
/transient/
/bookmarks
/#init.el#
/.gitignore~
/init.el~
/nohup.out
/org-persist/
/src/
/eshell/
/test
/.org-id-locations
/ts1/.log/*.log
/OrgFiles/.log/
/.lsp-session-v1
/modernjs/.log/
/modernjs/ModernJS.org_archive
