/elpa/
/auto-save-list/
/projectile-bookmarks.eld
/transient/
/OrgFiles/Emacs.org~
/bookmarks
/#init.el#
/.gitignore~
/OrgFiles/Archive.org~
/OrgFiles/Habits.org~
/OrgFiles/Journal.org~
/bookmarks~
/init.el~
/nohup.out
/org-persist/
/src/
